@charset "utf-8";

@font-face {
    font-family: 'AppleSDGothicNeoR00';
    src: url('../fonts/AppleSDGothicNeoR00.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'AppleSDGothicNeoB00';
    src: url('../fonts/AppleSDGothicNeoB00.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'AppleSDGothicNeoM00';
    src: url('../fonts/AppleSDGothicNeoM00.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'AppleSDGothicNeoEB00';
    src: url('../fonts/AppleSDGothicNeoEB00.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body {font-family: 'AppleSDGothicNeoR00','Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;}
.sd-m {font-family: 'AppleSDGothicNeoM00','Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;}
.sd-b {font-family: 'AppleSDGothicNeoB00','Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;}
.sd-bb {font-family: 'AppleSDGothicNeoEB00','Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;}