@charset "UTF-8";
#main {
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: #fffdfc;
  /* section1 */
  /* section2 */
}
#main .main-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
#main .main-background .wave_wrap {
  position: relative;
  width: 450px;
  aspect-ratio: 375/400;
  overflow: hidden;
}
#main .main-background .wave {
  opacity: 1;
  position: absolute;
  top: -253px;
  left: -77px;
  z-index: 3;
  background: #3a3967;
  width: 600px;
  height: 600px;
  margin-left: 0;
  margin-top: 0px;
  border-radius: 43%;
  animation: drift 7000ms infinite linear;
}
@media (max-width: 399px) {
  #main .main-background .wave {
    top: -270px;
    left: -112px;
  }
}
@media (max-width: 340px) {
  #main .main-background .wave {
    top: -294px;
  }
}
#main .main-background .wave2 {
  animation: drift 3000ms infinite linear;
  opacity: 0.1;
  background: black;
  z-index: 2;
}
#main .main-background .wave3 {
  animation: drift 7500ms infinite linear;
  background-color: #ffee9b;
  opacity: 0.7;
  z-index: 1;
}
@keyframes drift {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}
#main .slider_wrap {
  position: relative;
  z-index: 5;
  width: 100%;
  height: auto;
  padding: 60px 15px 0;
  aspect-ratio: 375/280;
  padding-bottom: 5rem;
}
#main .slider_wrap .slider_top_text {
  font-size: 2.1rem;
  color: #fff;
}
#main .slider_wrap .slider_top_text #user_name {
  font-size: 2.8rem;
  vertical-align: middle;
}
#main .slider_wrap .my_book_list {
  width: 100%;
  margin-top: 20px;
}
#main .slider_wrap .my_book_list .swiper-wrapper {
  align-items: center;
}
#main .slider_wrap .my_book_list .swiper-slide {
  width: 90px;
  aspect-ratio: 3/4;
  margin: 0 6.5px;
  background-color: #bdbdbd;
  opacity: 0.5;
}
#main .slider_wrap .my_book_list .swiper-slide-active {
  opacity: 1 !important;
  width: 105px !important;
}
#main #section1 {
  padding-top: 60px;
}
#main #section1 .my_reading_state, #main #section1 .my_reading_history {
  text-align: center;
  padding: 15px;
  border-radius: 12px;
  background-color: #fffadf;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}
#main #section1 .my_reading_state > img, #main #section1 .my_reading_history > img {
  max-width: 50px;
}
#main #section1 .my_reading_state > p, #main #section1 .my_reading_history > p {
  margin-top: 5px;
  font-size: 1.6rem;
}
#main #section1 .my_reading_history {
  background-color: #fff4ba;
  margin-top: 20px;
}
#main #section2 {
  padding-top: 20px;
}
#main #section2 #calendar {
  padding: 15px 15px 10px 15px;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
  border: 1px solid #e0e0e0;
}
#main #section2 .fc-theme-standard .fc-scrollgrid,
#main #section2 .fc-theme-standard td,
#main #section2 .fc-theme-standard th {
  border-color: transparent;
}
#main #section2 .fc .fc-toolbar.fc-header-toolbar {
  display: block;
  position: relative;
  margin-bottom: 10px;
}
#main #section2 .fc .fc-toolbar-title {
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
}
#main #section2 .fc .fc-button-group {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  gap: 5px;
}
#main #section2 .fc .fc-button-group button {
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3a3967;
}
#main #section2 .fc .fc-button .fc-icon {
  font-size: 1.2rem;
  line-height: 1.2;
  margin-top: -4px;
}
#main #section2 .fc .fc-view-harness {
  min-height: 180px;
}
#main #section2 .fc .fc-col-header-cell-cushion {
  font-size: 12px;
}
#main #section2 .fc .fc-daygrid-day-top {
  justify-content: center;
}
#main #section2 .fc .fc-day-other .fc-daygrid-day-top {
  justify-content: center;
}
#main #section2 .fc .fc-daygrid-day-number {
  font-size: 12px;
}
#main #section2 .fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
  display: none !important;
}
#main #section2 .fc-theme-standard td.simple .fc-daygrid-day-frame::after {
  content: "";
  width: 70%;
  height: 70%;
  background: url("../assets/img/stamp.svg") no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.7;
}
#main #section3 {
  padding-top: 40px;
  padding-bottom: 65px;
}
#main #section3 .title_section {
  display: flex;
  gap: 10px;
}
#main #section3 .title_section > img {
  position: relative;
  top: -10px;
  transform: rotate(-15deg);
  max-width: 52px;
}
#main #section3 .title_section .sec3_title {
  font-size: 2rem;
}
#main #section3 .my_recomand_book {
  margin-top: 13px;
}
#main #section3 .my_recomand_book .swiper-slide {
  opacity: 0.5;
}
#main #section3 .my_recomand_book .swiper-slide-active {
  opacity: 1;
}
#main #section3 .my_recomand_book .recomand_slide .swiper_depth {
  padding: 15px;
  display: flex;
  gap: 10px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
#main #section3 .my_recomand_book .recomand_slide .swiper_depth .book_cover {
  position: relative;
  width: 100px;
  aspect-ratio: 3/4;
  background-color: #bdbdbd;
}
#main #section3 .my_recomand_book .recomand_slide .swiper_depth .book_cover img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  width: 100%;
  height: 100%;
}
#main #section3 .my_recomand_book .recomand_slide .swiper_depth .book_desc {
  position: relative;
  width: calc(100% - 110px);
}
#main #section3 .my_recomand_book .recomand_slide .swiper_depth .book_desc p {
  word-break: break-all;
}
#main #section3 .my_recomand_book .recomand_slide .swiper_depth .book_desc .book_title {
  font-size: 1.5rem;
  margin-bottom: 5px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1;
}
#main #section3 .my_recomand_book .recomand_slide .swiper_depth .book_desc .book_intro {
  font-size: 1.5rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
}
#main #section3 .my_recomand_book .recomand_slide .swiper_depth .book_desc .button_wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  gap: 5px;
  align-items: center;
}
#main #section3 .my_recomand_book .recomand_slide .swiper_depth .book_desc .common_btn {
  min-width: 80px;
  height: 24px;
  line-height: 24px;
  border-radius: 150px;
  background-color: #e6e6e8;
  border: 1px solid #e6e6e8;
  text-align: center;
  color: #424242;
  font-size: 1.3rem;
}
#main #section3 .my_recomand_book .recomand_slide .swiper_depth .book_desc .common_btn.wish {
  background-color: #3a3967;
  border-color: #3a3967;
  color: #fff;
}

/* header */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  padding: 18px 0;
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
}
header .header-depth {
  width: 100%;
  position: relative;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-depth img {
  width: 24px;
  height: 24px;
  line-height: 24px;
}
header .header-depth a {
  display: inline-block;
  height: 24px;
}
header .header-depth .page-title {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  transform: translate(-50%, -50%);
  font-size: 2rem;
}
header .header-depth .icon-box {
  display: flex;
  align-items: center;
  gap: 12px;
}
header .search-box {
  position: relative;
  width: 93%;
}
header .search-box input {
  width: 100%;
  height: 37px;
  border-radius: 30px;
  border: 1px solid #e0e0e0;
  padding: 1px 15px 0 40px;
  font-size: 1.6rem;
}
header .search-box .submit-btn, header .search-box .reset-btn {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  margin: 0;
  padding: 0;
  height: 20px;
  border: unset;
  background-color: #fff;
}
header .search-box .submit-btn img, header .search-box .reset-btn img {
  width: 20px;
  height: 20px;
}
header .search-box .reset-btn {
  left: unset;
  right: 15px;
}

/* sub */
.sub-wrap {
  padding: 30px 15px 65px 15px;
  background-color: #fff;
}

/* 나의 리뷰 */
.my-review-wrap .my-review-title {
  display: flex;
  justify-content: space-between;
}
.my-review-wrap .my-review-title .total-count {
  font-size: 1.5rem;
}
.my-review-wrap .my-review-title .go_my_librery span {
  font-size: 1.5rem;
}
.my-review-wrap .my-review-list {
  margin-top: 20px;
}
.my-review-wrap .my-review-list .list-item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 13px;
  padding: 7px;
  background-color: #3a3967;
  border-radius: 150px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.35);
}
.my-review-wrap .my-review-list .list-item > a {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 500px;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.my-review-wrap .my-review-list .list-item .list-img {
  width: 105px;
  height: 105px;
  border-radius: 500px;
  overflow: hidden;
  background-color: #bdbdbd;
}
.my-review-wrap .my-review-list .list-item .list-cont {
  width: calc(100% - 115px);
}
.my-review-wrap .my-review-list .list-item .list-cont .list-title {
  font-size: 1.8rem;
  font-weight: 700;
  color: #6ac8d8;
}
.my-review-wrap .my-review-list .list-item .list-cont .list-summary {
  margin-top: 5px;
  font-size: 1.6rem;
  color: #fff;
}
.my-review-wrap .my-review-list .list-item .list-cont .list-date {
  margin-top: 2px;
  font-size: 1.4rem;
  color: #e0e0e0;
}

/* 나의 리뷰 상세페이지 */
.review-contents-wrap .review-head {
  display: flex;
  gap: 15px;
  align-items: start;
}
.review-contents-wrap .review-head .book-cover-img {
  width: 150px;
  height: auto;
  background-size: cover;
  aspect-ratio: 3/4;
  background-color: #bdbdbd;
}
.review-contents-wrap .review-head .book-infor {
  width: calc(100% - 165px);
}
.review-contents-wrap .review-head .book-infor #book-cate {
  font-size: 1.6rem;
}
.review-contents-wrap .review-head .book-infor #book-title {
  font-size: 2rem;
  margin-top: 5px;
}
.review-contents-wrap .review-head .book-infor #book-author {
  font-size: 1.4rem;
}
.review-contents-wrap .review-head .book-infor .book-read-date {
  margin-top: 20px;
  font-size: 1.5rem;
}
.review-contents-wrap .review-head .book-infor .book-read-date #start-date,
.review-contents-wrap .review-head .book-infor .book-read-date #end-date {
  background: linear-gradient(to top, #fff4ba 50%, transparent 50%);
  font-size: 1.5rem;
}
.review-contents-wrap .review-head .book-infor .my-star {
  margin: 30px 0 5px 0;
  font-size: 1.5rem;
}
.review-contents-wrap .review-head .book-infor .my-star > div {
  display: flex;
  align-items: center;
  gap: 5px;
}
.review-contents-wrap .review-head .book-infor .my-star > div .icons-wrap {
  display: flex;
  align-items: center;
}
.review-contents-wrap .review-head .book-infor .my-star > div .icons-wrap > img {
  max-width: 20px;
}
.review-contents-wrap .review-head .book-infor .my-star > div .point-number {
  position: relative;
  top: 2px;
  font-size: 2rem;
}
.review-contents-wrap .review-contents {
  width: calc(100% + 30px);
  margin-top: 35px;
  margin-left: -15px;
  padding: 40px 15px 60px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
  background-color: #fffdfc;
}
.review-contents-wrap .review-contents .contents-list {
  margin-bottom: 17px;
}
.review-contents-wrap .review-contents .contents-list:last-of-type {
  margin-bottom: 0;
}
.review-contents-wrap .review-contents .contents-list > p {
  font-size: 1.6rem;
}
.review-contents-wrap .review-contents .contents-list > p:first-child {
  font-size: 2rem;
}
.review-contents-wrap .review-contents .contents-list > p:not(:first-child) {
  margin-bottom: 5px;
}

/* 검색 */
.serach-wrap .search-depth {
  margin-bottom: 30px;
}
.serach-wrap .search-depth .search-page-title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 10px;
}
.serach-wrap .depth-wrap {
  display: flex;
  gap: 5px;
  align-items: center;
  flex-wrap: wrap;
}
.serach-wrap .depth-cont {
  position: relative;
  flex: 0 0 auto;
}
.serach-wrap .depth-cont label {
  display: inline-block;
  padding: 2px 10px 0 10px;
  border-radius: 150px;
  border: 1px solid #bdbdbd;
  font-size: 1.4rem;
}
.serach-wrap .depth-cont input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.serach-wrap .depth-cont input:checked + label {
  border-color: #6ac8d8;
  background-color: #6ac8d8;
  color: #fff;
}
.serach-wrap .written-date-wrap {
  position: relative;
}
.serach-wrap .written-date-wrap #myDate {
  width: 100%;
  height: 37px;
  line-height: 39px;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  padding: 0 10px;
  font-size: 1.6rem;
}
.serach-wrap .written-date-wrap > img {
  max-width: 20px;
  position: absolute;
  top: 50%;
  right: 10px;
  z-index: 10;
  transform: translateY(-50%);
}
.serach-wrap .latest-cont {
  position: relative;
}
.serach-wrap .latest-cont label {
  position: relative;
  padding-right: 30px;
}
.serach-wrap .latest-cont .closed {
  position: absolute;
  top: 50%;
  right: 7px;
  transform: translateY(-50%);
  z-index: 5;
  display: inline-block;
  width: 15px;
  height: 15px;
  line-height: 15px;
}
.serach-wrap .latest-cont .closed img {
  position: relative;
  top: 1px;
  max-width: 13px;
}

/* 차트 */
.chart-head {
  justify-content: end !important;
}

.my-chart-wrap {
  position: relative;
}
.my-chart-wrap .my-chart-title {
  text-align: center;
  font-size: 3rem;
}
.my-chart-wrap .my-chart-title #user_name {
  font-size: 3.6rem;
}
.my-chart-wrap .background {
  position: absolute;
  top: -30px;
  left: -15px;
  width: calc(100% + 30px);
  height: calc(100vh - 60px);
  background: linear-gradient(to bottom, #fff, #fafafa);
  z-index: -1;
}

/* 마이페이지 */
.mypage-head {
  justify-content: start !important;
}

.my-page-wrap .my-profile-box {
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: #fffdfc;
  border-radius: 12px;
  padding: 20px 15px;
  box-shadow: 0 2px 13px rgba(0, 0, 0, 0.15);
}
.my-page-wrap .my-profile-box .profile-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #e0e0e0;
  background-size: cover;
  background-position: center;
  border: 1px solid #e0e0e0;
}
.my-page-wrap .my-profile-box .profile-cont #user-name {
  font-size: 2rem;
  font-weight: 800;
}
.my-page-wrap .my-profile-box .profile-cont .user-mail {
  font-size: 1.6rem;
  color: #424242;
  text-decoration: underline;
}
.my-page-wrap .my-total-active {
  position: relative;
  margin: 25px 0;
  border-radius: 12px;
  padding: 20px 15px 40px 15px;
  background-color: #fffdfc;
  box-shadow: 0 2px 13px rgba(0, 0, 0, 0.15);
}
.my-page-wrap .my-total-active > p {
  position: relative;
  top: 10px;
  font-size: 2.1rem;
  line-height: 1.6 !important;
}
.my-page-wrap .my-total-active > p span {
  position: relative;
  font-size: 2.4rem;
  display: inline-block;
  background: linear-gradient(to top, #fff4ba 50%, transparent 50%);
}
.my-page-wrap .my-total-active > img {
  max-width: 100px;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.9;
}
.my-page-wrap .my-menu-box {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fffdfc;
  border-radius: 12px;
  box-shadow: 0 2px 13px rgba(0, 0, 0, 0.15);
}
.my-page-wrap .my-menu-box .menu-title {
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 17px;
}
.my-page-wrap .my-menu-box .menu-depth .menu-list a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 1.8rem;
  margin-bottom: 7px;
}
.my-page-wrap .my-menu-box .menu-depth .menu-list a span {
  position: relative;
  top: 2px;
}
.my-page-wrap .my-menu-box .menu-depth .menu-list a img {
  max-width: 20px;
  transform: rotate(90deg);
}

/* 위시 리스트 - 내가 읽고싶은 책 */
/* 상단 form 공통
    라벨 스타일
*/
.book-add-field .input-group {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.book-add-field input {
  height: 37px;
  line-height: 35px !important;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  padding: 0 9px;
  font-size: 1.5rem;
}
.book-add-field .field-input1 {
  width: 100%;
}
.book-add-field .field-input2,
.book-add-field .field-input3,
.book-add-field .field-input4,
.book-add-field .field-input5 {
  width: calc((100% - 47px) / 2);
}
.book-add-field .field-text {
  width: 100%;
  max-width: 100%;
  height: 90px;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
}
.book-add-field button {
  display: inline-block;
  width: 37px;
  height: 37px;
  line-height: 37px !important;
  background-color: #3a3967;
  border: unset;
  color: #fff;
  font-size: 2.4rem;
  border-radius: 5px;
}

.my-wish-wrap .wish-book-list,
.my-wish-wrap .reading-book-list,
.my-wish-wrap .memo-book-list,
.my-reading-wrap .wish-book-list,
.my-reading-wrap .reading-book-list,
.my-reading-wrap .memo-book-list,
.my-memo-wrap .wish-book-list,
.my-memo-wrap .reading-book-list,
.my-memo-wrap .memo-book-list {
  margin-top: 35px;
}
.my-wish-wrap .wish-book-list .list-item,
.my-wish-wrap .reading-book-list .list-item,
.my-wish-wrap .memo-book-list .list-item,
.my-reading-wrap .wish-book-list .list-item,
.my-reading-wrap .reading-book-list .list-item,
.my-reading-wrap .memo-book-list .list-item,
.my-memo-wrap .wish-book-list .list-item,
.my-memo-wrap .reading-book-list .list-item,
.my-memo-wrap .memo-book-list .list-item {
  width: 100%;
  display: flex;
  align-items: start;
  padding-top: 10px;
  gap: 10px;
  border-bottom: 1px solid #e0e0e0;
}
.my-wish-wrap .wish-book-list .list-item .check-field,
.my-wish-wrap .reading-book-list .list-item .check-field,
.my-wish-wrap .memo-book-list .list-item .check-field,
.my-reading-wrap .wish-book-list .list-item .check-field,
.my-reading-wrap .reading-book-list .list-item .check-field,
.my-reading-wrap .memo-book-list .list-item .check-field,
.my-memo-wrap .wish-book-list .list-item .check-field,
.my-memo-wrap .reading-book-list .list-item .check-field,
.my-memo-wrap .memo-book-list .list-item .check-field {
  position: relative;
}
.my-wish-wrap .wish-book-list .list-item .check-field label,
.my-wish-wrap .reading-book-list .list-item .check-field label,
.my-wish-wrap .memo-book-list .list-item .check-field label,
.my-reading-wrap .wish-book-list .list-item .check-field label,
.my-reading-wrap .reading-book-list .list-item .check-field label,
.my-reading-wrap .memo-book-list .list-item .check-field label,
.my-memo-wrap .wish-book-list .list-item .check-field label,
.my-memo-wrap .reading-book-list .list-item .check-field label,
.my-memo-wrap .memo-book-list .list-item .check-field label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: rgba(106, 200, 216, 0.5);
  color: #424242;
}
.my-wish-wrap .wish-book-list .list-item .check-field input,
.my-wish-wrap .reading-book-list .list-item .check-field input,
.my-wish-wrap .memo-book-list .list-item .check-field input,
.my-reading-wrap .wish-book-list .list-item .check-field input,
.my-reading-wrap .reading-book-list .list-item .check-field input,
.my-reading-wrap .memo-book-list .list-item .check-field input,
.my-memo-wrap .wish-book-list .list-item .check-field input,
.my-memo-wrap .reading-book-list .list-item .check-field input,
.my-memo-wrap .memo-book-list .list-item .check-field input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.my-wish-wrap .wish-book-list .list-item .check-field input:checked + label,
.my-wish-wrap .reading-book-list .list-item .check-field input:checked + label,
.my-wish-wrap .memo-book-list .list-item .check-field input:checked + label,
.my-reading-wrap .wish-book-list .list-item .check-field input:checked + label,
.my-reading-wrap .reading-book-list .list-item .check-field input:checked + label,
.my-reading-wrap .memo-book-list .list-item .check-field input:checked + label,
.my-memo-wrap .wish-book-list .list-item .check-field input:checked + label,
.my-memo-wrap .reading-book-list .list-item .check-field input:checked + label,
.my-memo-wrap .memo-book-list .list-item .check-field input:checked + label {
  color: #fff;
  background-color: #6ac8d8;
}
.my-wish-wrap .wish-book-list .list-item .list-infor,
.my-wish-wrap .reading-book-list .list-item .list-infor,
.my-wish-wrap .memo-book-list .list-item .list-infor,
.my-reading-wrap .wish-book-list .list-item .list-infor,
.my-reading-wrap .reading-book-list .list-item .list-infor,
.my-reading-wrap .memo-book-list .list-item .list-infor,
.my-memo-wrap .wish-book-list .list-item .list-infor,
.my-memo-wrap .reading-book-list .list-item .list-infor,
.my-memo-wrap .memo-book-list .list-item .list-infor {
  width: 90%;
  padding-bottom: 10px;
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.my-wish-wrap .wish-book-list .list-item .list-infor.memo-type,
.my-wish-wrap .reading-book-list .list-item .list-infor.memo-type,
.my-wish-wrap .memo-book-list .list-item .list-infor.memo-type,
.my-reading-wrap .wish-book-list .list-item .list-infor.memo-type,
.my-reading-wrap .reading-book-list .list-item .list-infor.memo-type,
.my-reading-wrap .memo-book-list .list-item .list-infor.memo-type,
.my-memo-wrap .wish-book-list .list-item .list-infor.memo-type,
.my-memo-wrap .reading-book-list .list-item .list-infor.memo-type,
.my-memo-wrap .memo-book-list .list-item .list-infor.memo-type {
  flex-direction: column;
  align-items: start;
  justify-content: start;
}
.my-wish-wrap .wish-book-list .list-item .list-infor .book-title,
.my-wish-wrap .reading-book-list .list-item .list-infor .book-title,
.my-wish-wrap .memo-book-list .list-item .list-infor .book-title,
.my-reading-wrap .wish-book-list .list-item .list-infor .book-title,
.my-reading-wrap .reading-book-list .list-item .list-infor .book-title,
.my-reading-wrap .memo-book-list .list-item .list-infor .book-title,
.my-memo-wrap .wish-book-list .list-item .list-infor .book-title,
.my-memo-wrap .reading-book-list .list-item .list-infor .book-title,
.my-memo-wrap .memo-book-list .list-item .list-infor .book-title {
  font-size: 1.8rem;
}
.my-wish-wrap .wish-book-list .list-item .list-infor .author-name,
.my-wish-wrap .reading-book-list .list-item .list-infor .author-name,
.my-wish-wrap .memo-book-list .list-item .list-infor .author-name,
.my-reading-wrap .wish-book-list .list-item .list-infor .author-name,
.my-reading-wrap .reading-book-list .list-item .list-infor .author-name,
.my-reading-wrap .memo-book-list .list-item .list-infor .author-name,
.my-memo-wrap .wish-book-list .list-item .list-infor .author-name,
.my-memo-wrap .reading-book-list .list-item .list-infor .author-name,
.my-memo-wrap .memo-book-list .list-item .list-infor .author-name {
  font-size: 1.5rem;
}
.my-wish-wrap .wish-book-list .list-item .list-infor .memo-contents,
.my-wish-wrap .reading-book-list .list-item .list-infor .memo-contents,
.my-wish-wrap .memo-book-list .list-item .list-infor .memo-contents,
.my-reading-wrap .wish-book-list .list-item .list-infor .memo-contents,
.my-reading-wrap .reading-book-list .list-item .list-infor .memo-contents,
.my-reading-wrap .memo-book-list .list-item .list-infor .memo-contents,
.my-memo-wrap .wish-book-list .list-item .list-infor .memo-contents,
.my-memo-wrap .reading-book-list .list-item .list-infor .memo-contents,
.my-memo-wrap .memo-book-list .list-item .list-infor .memo-contents {
  margin-top: 10px;
  font-size: 1.6rem;
}
.my-wish-wrap .wish-book-list .list-item .list-infor .bookprice,
.my-wish-wrap .wish-book-list .list-item .list-infor .reading-number,
.my-wish-wrap .wish-book-list .list-item .list-infor .total-number,
.my-wish-wrap .reading-book-list .list-item .list-infor .bookprice,
.my-wish-wrap .reading-book-list .list-item .list-infor .reading-number,
.my-wish-wrap .reading-book-list .list-item .list-infor .total-number,
.my-wish-wrap .memo-book-list .list-item .list-infor .bookprice,
.my-wish-wrap .memo-book-list .list-item .list-infor .reading-number,
.my-wish-wrap .memo-book-list .list-item .list-infor .total-number,
.my-reading-wrap .wish-book-list .list-item .list-infor .bookprice,
.my-reading-wrap .wish-book-list .list-item .list-infor .reading-number,
.my-reading-wrap .wish-book-list .list-item .list-infor .total-number,
.my-reading-wrap .reading-book-list .list-item .list-infor .bookprice,
.my-reading-wrap .reading-book-list .list-item .list-infor .reading-number,
.my-reading-wrap .reading-book-list .list-item .list-infor .total-number,
.my-reading-wrap .memo-book-list .list-item .list-infor .bookprice,
.my-reading-wrap .memo-book-list .list-item .list-infor .reading-number,
.my-reading-wrap .memo-book-list .list-item .list-infor .total-number,
.my-memo-wrap .wish-book-list .list-item .list-infor .bookprice,
.my-memo-wrap .wish-book-list .list-item .list-infor .reading-number,
.my-memo-wrap .wish-book-list .list-item .list-infor .total-number,
.my-memo-wrap .reading-book-list .list-item .list-infor .bookprice,
.my-memo-wrap .reading-book-list .list-item .list-infor .reading-number,
.my-memo-wrap .reading-book-list .list-item .list-infor .total-number,
.my-memo-wrap .memo-book-list .list-item .list-infor .bookprice,
.my-memo-wrap .memo-book-list .list-item .list-infor .reading-number,
.my-memo-wrap .memo-book-list .list-item .list-infor .total-number {
  font-size: 1.6rem;
}
.my-wish-wrap .wish-book-list .list-item .list-infor .reading-number span,
.my-wish-wrap .wish-book-list .list-item .list-infor .total-number span,
.my-wish-wrap .reading-book-list .list-item .list-infor .reading-number span,
.my-wish-wrap .reading-book-list .list-item .list-infor .total-number span,
.my-wish-wrap .memo-book-list .list-item .list-infor .reading-number span,
.my-wish-wrap .memo-book-list .list-item .list-infor .total-number span,
.my-reading-wrap .wish-book-list .list-item .list-infor .reading-number span,
.my-reading-wrap .wish-book-list .list-item .list-infor .total-number span,
.my-reading-wrap .reading-book-list .list-item .list-infor .reading-number span,
.my-reading-wrap .reading-book-list .list-item .list-infor .total-number span,
.my-reading-wrap .memo-book-list .list-item .list-infor .reading-number span,
.my-reading-wrap .memo-book-list .list-item .list-infor .total-number span,
.my-memo-wrap .wish-book-list .list-item .list-infor .reading-number span,
.my-memo-wrap .wish-book-list .list-item .list-infor .total-number span,
.my-memo-wrap .reading-book-list .list-item .list-infor .reading-number span,
.my-memo-wrap .reading-book-list .list-item .list-infor .total-number span,
.my-memo-wrap .memo-book-list .list-item .list-infor .reading-number span,
.my-memo-wrap .memo-book-list .list-item .list-infor .total-number span {
  background-image: linear-gradient(to bottom, transparent 50%, #fff4ba 50%);
}
.my-wish-wrap .wish-book-list .list-item .list-infor .reading-progress,
.my-wish-wrap .reading-book-list .list-item .list-infor .reading-progress,
.my-wish-wrap .memo-book-list .list-item .list-infor .reading-progress,
.my-reading-wrap .wish-book-list .list-item .list-infor .reading-progress,
.my-reading-wrap .reading-book-list .list-item .list-infor .reading-progress,
.my-reading-wrap .memo-book-list .list-item .list-infor .reading-progress,
.my-memo-wrap .wish-book-list .list-item .list-infor .reading-progress,
.my-memo-wrap .reading-book-list .list-item .list-infor .reading-progress,
.my-memo-wrap .memo-book-list .list-item .list-infor .reading-progress {
  text-align: right;
  font-size: 1.6rem;
}
.my-wish-wrap .wish-book-list .list-item .list-infor img,
.my-wish-wrap .reading-book-list .list-item .list-infor img,
.my-wish-wrap .memo-book-list .list-item .list-infor img,
.my-reading-wrap .wish-book-list .list-item .list-infor img,
.my-reading-wrap .reading-book-list .list-item .list-infor img,
.my-reading-wrap .memo-book-list .list-item .list-infor img,
.my-memo-wrap .wish-book-list .list-item .list-infor img,
.my-memo-wrap .reading-book-list .list-item .list-infor img,
.my-memo-wrap .memo-book-list .list-item .list-infor img {
  position: relative;
  top: 1px;
  max-width: 16px;
}
.my-wish-wrap #delete_btn,
.my-reading-wrap #delete_btn,
.my-memo-wrap #delete_btn {
  display: block;
  width: 60px;
  height: 37px;
  line-height: 35px !important;
  border-radius: 5px;
  border: 1px solid #3a3967;
  background-color: #3a3967;
  color: #fff;
  margin-left: auto;
  margin-top: 50px;
}

/* 글쓰기 페이지 */
.write-wrap .field-list {
  margin-bottom: 20px;
}
.write-wrap .field-list > h2 {
  display: inline-block;
  margin-bottom: 7px;
  font-size: 1.6rem;
}
.write-wrap input, .write-wrap select, .write-wrap textarea {
  width: 100%;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.15);
}
.write-wrap input, .write-wrap select {
  height: 37px;
  line-height: 36px;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  padding: 0 9px;
}
.write-wrap input[type=date] {
  width: calc(50% - 5px);
}
.write-wrap select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url(../assets/img/arrow-down.svg);
  background-size: 18px;
  background-position: 98% 9px;
  background-repeat: no-repeat;
}
.write-wrap textarea {
  border-radius: 5px;
  padding: 9px;
  min-height: 125px;
  border: 1px solid #e0e0e0;
}
.write-wrap .field-date-list > div {
  display: flex;
  gap: 10px;
  align-items: center;
}
.write-wrap .star-point button {
  border: unset;
  background-color: transparent;
  padding: 0;
  margin: 0;
}
.write-wrap .submit-btn {
  margin-top: 20px;
  width: 100%;
  background-color: #3a3967;
  border: 1px solid #3a3967;
  border-radius: 5px;
  height: 38px !important;
  line-height: 41px;
  text-align: center;
  font-size: 1.7rem;
  color: #fff;
  cursor: pointer;
}

/* 글쓰기 완료 페이지 */
.done-fixed-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fffdfc;
}
.done-fixed-wrap .done-message {
  width: calc(100% - 30px);
  padding: 40px;
  background-color: #fff4ba;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 3px 18px rgba(0, 0, 0, 0.15);
}
.done-fixed-wrap p {
  font-size: 2.4rem;
  margin: 10px 0 20px 0;
  color: #424242;
}
.done-fixed-wrap .go-review {
  position: relative;
  z-index: 2;
  display: inline-block;
  width: 100%;
  height: 40px;
  line-height: 39px !important;
  border-radius: 6px;
  font-size: 1.8rem;
  border: 1px solid #3a3967;
  background-color: #3a3967;
  color: #fff;
  cursor: pointer;
}

#lottie-animation {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

/* 하단 네비게이션 */
#bottom_navigator {
  max-width: 450px;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 10;
}
#bottom_navigator .navigator_wrap {
  width: 100%;
  padding: 11px 0px;
  box-shadow: 0 -2px 15px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  background-color: #fafafa;
  border-top: 1px solid #fafafa;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
#bottom_navigator .navigator_wrap .navigator_cont {
  flex: 1 1 20%;
  text-align: center;
  position: relative;
}
#bottom_navigator .navigator_wrap .navigator_cont > a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#bottom_navigator .navigator_wrap .navigator_cont > a .nav-icon {
  width: 40px;
  height: 40px;
}
#bottom_navigator .navigator_wrap .navigator_cont > a p {
  font-size: 1.3rem;
  color: #757575;
}
#bottom_navigator .navigator_wrap .navigator_cont.active > p {
  color: #6ac8d8;
  font-weight: 500 !important;
}

/* footer */
footer {
  background-color: #fafafa;
  padding: 20px 7px;
  padding-bottom: 90px;
}
footer .bar {
  display: inline-block;
  position: relative;
  top: 1px;
  width: 1px;
  height: 9px;
  background-color: #e0e0e0;
}
footer .logo-box {
  width: 120px;
  height: 40px;
  background-color: #bdbdbd;
  margin: 0 auto 15px;
}
footer .footer-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0 auto 10px;
}
footer .footer-menu li {
  font-size: 1.4rem;
  color: #757575;
}
footer #footer-toggle {
  text-align: center;
  font-size: 1.4rem;
  color: #424242;
  cursor: pointer;
}
footer .copyright-text {
  margin-top: 20px;
  text-align: center;
  font-size: 1.4rem;
  color: #424242;
}
footer .copyright-dropdown {
  visibility: hidden;
  height: 0;
}
footer .copyright-dropdown.is-active {
  visibility: visible;
  height: auto;
  padding-top: 15px;
  transition: all 0.2s;
}
footer .copyright-dropdown .copy-depth {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 5px;
}
footer .copyright-dropdown .copy-depth span {
  font-size: 1.4rem;
  color: #757575;
}

/* 플로팅 버튼 */
#quick_up {
  position: fixed;
  right: calc((100vw - 450px) / 2 + 15px);
  bottom: 90px;
  z-index: 12;
  width: 56px;
  height: 56px;
  border-radius: 500px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
#quick_up > a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #fffadf;
}
#quick_up > a img {
  max-width: 25px;
}
#quick_up > a p {
  font-size: 1.4rem;
}

@media (max-width: 450px) {
  #main .slider_wrap .my_book_list .swiper-slide {
    width: 21vw;
    aspect-ratio: 3/4;
    background-color: #bdbdbd;
    opacity: 0.5;
  }
  #main .slider_wrap .my_book_list .swiper-slide-active {
    width: 26.5vw !important;
  }
}
@media (max-width: 380px) {
  #main #section3 .my_recomand_book .recomand_slide .swiper_depth .book_cover {
    width: 79px;
  }
  #main #section3 .my_recomand_book .recomand_slide .swiper_depth .book_desc {
    width: calc(100% - 94px);
  }
  #main #section3 .my_recomand_book .recomand_slide .swiper_depth .book_desc .book_intro {
    -webkit-line-clamp: 2;
  }
  #main #section3 .my_recomand_book .recomand_slide .swiper_depth .book_desc .common_btn {
    min-width: 65px;
    height: 20px;
  }
}/*# sourceMappingURL=page.css.map */