@charset "utf-8";

$main_color : #fff4ba;
$main_color_light: #fffadf;
$sub_color:#3a3967;
$point_color:#6ac8d8;

.main-wrap {
    background-color: #fffdfc;
}
#main {
    width: 100%;
    overflow: hidden;
    position: relative;
    .main-background {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        .wave_wrap {
            position: relative;
            width: 450px;
            aspect-ratio: 375 / 400;
            overflow: hidden;
        }
        .wave {
            opacity: 1;
            position: absolute;
            top: -253px;
            left: -77px;
            z-index: 3;
            background: $sub_color;
            width: 600px;
            height: 600px;
            margin-left: 0;
            margin-top: 0px;
            border-radius: 43%;
            animation: drift 7000ms infinite linear;

            @media(max-width:399px) {
                top: -270px;
                left: -112px;
            }

            @media(max-width:340px) {
                top: -294px;
            }
        }
        .wave2 {
            animation: drift 3000ms infinite linear;
            opacity: 0.1;
            background: black;
            z-index: 2;
        }
        .wave3 {
            animation: drift 7500ms infinite linear;
            background-color: #ffee9b;
            opacity: 0.7;
            z-index: 1;
        }
        @keyframes drift {
            from { transform: rotate(0deg); }
            from { transform: rotate(360deg); }
        }
    }
    .slider_wrap {
        position: relative;
        z-index: 5;
        width: 100%;
        height: auto;
        padding: 60px 15px 0;
        aspect-ratio: 375 / 280;
        padding-bottom: 5rem;
        .slider_top_text {
            font-size: 2.1rem;
            color: #fff;
            #user_name {
                font-size: 2.8rem;
                vertical-align: middle;
            }
        }
        .my_book_list {
            width: 100%;
            margin-top: 20px;
            margin-left: -15px;
            .swiper-wrapper {
                align-items: center;
            }
            .swiper-slide {
                width: 90px;
                aspect-ratio: 3 / 4;
                margin: 0 6.5px;
                background-color: #bdbdbd;
                opacity: 0.5;
            }
            .swiper-slide-active {
                opacity: 1 !important;
                width: 105px !important;
            }
        }
    }

    /* section1 */
    #section1 {
        padding-top: 60px;
        .my_reading_state, .my_reading_history {
            text-align: center;
            padding: 15px;
            border-radius: 12px;
            background-color: $main_color_light;
            box-shadow: 0 4px 15px rgba(0,0,0,0.15);
            > img {
                max-width: 50px;
            }
            > p {
                margin-top: 5px;
                font-size: 1.6rem;
            }
        }
        .my_reading_history {
            background-color: $main_color;
            margin-top: 20px;
        }
    }
    /* section2 */
    #section2 {
        padding-top: 20px;
        #calendar {
            padding: 15px 15px 10px 15px;
            border-radius: 12px;
            box-shadow: 0 4px 16px rgba(0,0,0,0.15);
            border: 1px solid #e0e0e0;
        }

        //table border
        .fc-theme-standard .fc-scrollgrid,
        .fc-theme-standard td,
        .fc-theme-standard th {
            border-color: transparent;
        }

        //table top
        .fc .fc-toolbar.fc-header-toolbar {
            display: block;
            position: relative;
            margin-bottom: 10px;
        }
        .fc .fc-toolbar-title {
            font-size: 1.8rem;
            font-weight: 700;
            text-align: center;
        }
        //buttons
        .fc .fc-button-group {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            gap: 5px;
            button {
                margin: 0;
                padding: 0;
                width: 20px;
                height: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $sub_color;
            }
        }
        .fc .fc-button .fc-icon {
            font-size: 1.2rem;
            line-height: 1.2;
            margin-top: -4px;
        }
        //table
        .fc .fc-view-harness {
            min-height: 180px;
        }
        .fc .fc-col-header-cell-cushion {
            font-size: 12px;
        }
        .fc .fc-daygrid-day-top {
            justify-content: center;
        }
        .fc .fc-day-other .fc-daygrid-day-top {
            justify-content: center;
        }
        .fc .fc-daygrid-day-number {
            font-size: 12px;
        }
        .fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
            display: none !important;
        }
        //stamp
        .fc-theme-standard td.simple {
            .fc-daygrid-day-frame {
                &::after {
                    content: '';
                    width: 70%;
                    height: 70%;
                    background: url('../assets/img/stamp.svg') no-repeat;
                    background-size: contain;
                    background-position: center;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    opacity: 0.7;
                }
            }
        }
    }
    #section3 {
        padding-top: 40px;
        padding-bottom: 65px;
        .title_section {
            display: flex;
            gap: 10px;
                > img {
                    position: relative;
                    top: -10px;
                    transform: rotate(-15deg);
                    max-width: 52px;
                }
                .sec3_title {
                    font-size: 2rem;
                }
            }

        .my_recomand_book {
            margin-top: 13px;
            .swiper-slide {
                opacity: 0.5;
            }
            .swiper-slide-active {
                opacity: 1;
            }
            .recomand_slide {
                .swiper_depth {
                    padding: 15px;
                    display: flex;
                    gap: 10px;
                    background-color: #fff;
                    border: 1px solid #e0e0e0;
                    border-radius: 15px;
                    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
                    .book_cover {
                        width: 100px;
                        aspect-ratio: 3 / 4;
                        background-color: #bdbdbd;
                    }
                    .book_desc {
                        position: relative;
                        width: calc(100% - 110px);
                        p {
                            word-break: break-all;
                        }
                        .book_title {
                            font-size: 1.5rem;
                            margin-bottom: 5px;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            -webkit-line-clamp: 1;
                        }
                        .book_intro {
                            font-size: 1.5rem;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            -webkit-line-clamp: 3;
                        }
                        .button_wrap {
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            display: flex;
                            gap: 5px;
                            align-items: center;
                        }
                        .common_btn {
                            min-width: 80px;
                            height: 24px;
                            line-height: 24px;
                            border-radius: 150px;
                            background-color: #e6e6e8;
                            border: 1px solid #e6e6e8;
                            text-align: center;
                            color: #424242;
                            font-size: 1.3rem;
                            &.wish {
                                background-color: $sub_color;
                                border-color: $sub_color;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* header */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    padding: 18px 0;
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
    box-shadow: 0 0 16px rgba(0,0,0,0.15);
    .header-depth {
        width: 100%;
        position: relative;
        padding: 0 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
            width: 24px;
            height: 24px;
            line-height: 24px;
        }
        a {
        display: inline-block;
        height: 24px;
        }
        .page-title {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 3;
            transform: translate(-50%,-50%);
            font-size: 2rem;
        }
        .icon-box {
            display: flex;
            align-items: center;
            gap: 12px;
        }
    }

    .search-box {
        position: relative;
        width: 93%;
        input {
            width: 100%;
            height: 37px;
            border-radius: 30px;
            border: 1px solid #e0e0e0;
            padding: 1px 15px 0 40px;
            font-size: 1.6rem;
        }
        .submit-btn,.reset-btn {
            position: absolute;
            top: 50%;
            left: 10px;
            transform: translateY(-50%);
            margin: 0;
            padding: 0;
            height: 20px;
            border: unset;
            background-color: #fff;
            img {
                width: 20px;
                height: 20px;
            }
        }
        .reset-btn {
            left: unset;
            right: 15px;
        }
    }
}

/* sub */
.sub-wrap {
    padding: 30px 15px 65px 15px;
    background-color: #fff;
}


/* 나의 리뷰 */
.my-review-wrap {
    .my-review-title {
        display: flex;
        justify-content: space-between;
        .total-count {
            font-size: 1.5rem;
        }
        .go_my_librery {
            span {
                font-size: 1.5rem;
            }
        }
    }
    .my-review-list {
        margin-top: 20px;
        .list-item {
            position: relative;
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 13px;
            padding: 7px;
            background-color: $sub_color;
            border-radius: 150px;
            box-shadow: 0 4px 16px rgba(0,0,0,0.35);
            > a {
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 500px;
                display: inline-block;
                width: 100%;
                height: 100%;
            }
            .list-img {
                width: 80px;
                height: 80px;
                border-radius: 500px;
                overflow: hidden;
                background-color: #bdbdbd;
            }
            .list-cont {
                width: calc(100% - 87px);
                .list-title {
                    font-size: 1.8rem;
                    font-weight: 700;
                    color: $point_color;
                }
                .list-summary {
                    margin-top: 5px;
                    font-size: 1.6rem;
                    color: #fff;
                }
                .list-date {
                    margin-top: 2px;
                    font-size: 1.4rem;
                    color: #e0e0e0;
                }
            }
        }
    }
}

/* 나의 리뷰 상세페이지 */
.review-contents-wrap {
    .review-head {
        display: flex;
        gap: 10px;
        align-items: start;
        .book-cover-img {
            width: 150px;
            height: auto;
            aspect-ratio: 3 / 4;
            background-color: #bdbdbd;
        }
        .book-infor {
            width: calc(100% - 160px);
            #book-cate {
                font-size: 1.6rem;
            }
            #book-title {
                font-size: 2rem;
                margin-top: 5px;
            }
            #book-author {
                font-size: 1.4rem;
            }
            .book-read-date {
                margin-top: 20px;
                font-size: 1.5rem;
                #start-date,
                #end-date {
                    background: linear-gradient(to top, $main_color 50%, transparent 50%);
                    font-size: 1.5rem;
                }
            }
            .my-star {
                margin: 30px 0 5px 0;
                font-size: 1.5rem;
                > div {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    .icons-wrap {
                        display: flex;
                        align-items: center;
                        > img {
                            max-width: 20px;
                        }
                    }
                    .point-number {
                        position: relative;
                        top: 2px;
                        font-size: 2rem;
                    }
                }
            }
        }
    }
    .review-contents {
        width: calc(100% + 30px);
        margin-top: 35px;
        margin-left: -15px;
        padding: 40px 15px 60px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        box-shadow: 0 4px 16px rgba(0,0,0,0.15);
        background-color: #fffdfc;
        .contents-list {
            margin-bottom: 17px;
            &:last-of-type {
                margin-bottom: 0;
            }
            > p {
                font-size: 1.6rem;
                &:first-child {
                    font-size: 2rem;
                }
                &:not(:first-child) {
                    margin-bottom: 5px;
                }
            }
        }
    }
}

/* 검색 */
.serach-wrap {
    //여백, 제목 공통
    .search-depth {
        margin-bottom: 30px;
        .search-page-title {
            font-size: 1.5rem;
            margin-bottom: 10px;
        }
    }

    //체크박스 디자인 공통
    .depth-wrap {
        display: flex;
        gap: 5px;
        align-items: center;
        flex-wrap: wrap;
    }
    .depth-cont {
        position: relative;
        flex: 0 0 auto;
        label {
            display: inline-block;
            padding: 2px 10px 0 10px;
            border-radius: 150px;
            border: 1px solid #bdbdbd;
            font-size: 1.4rem;
        }
        input {
            appearance: none;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            &:checked+label {
                border-color: $point_color;
                background-color: $point_color;
                color: #fff;
            }
        }
    }

    //작성날짜
    .written-date-wrap {
        position: relative;
        #myDate {
            width: 100%;
            height: 37px;
            line-height: 39px;
            border-radius: 5px;
            border: 1px solid #e0e0e0;
            padding: 0 10px;
            font-size: 1.6rem;
        }
        > img {
            max-width: 20px;
            position: absolute;
            top: 50%;
            right: 10px;
            z-index: 10;
            transform: translateY(-50%);
        }
    }

    //최근 검색어
    .latest-cont {
        position: relative;
        label {
            position: relative;
            padding-right: 30px;
        }
        .closed {
            position: absolute;
            top: 50%;
            right: 7px;
            transform: translateY(-50%);
            z-index: 5;
            display: inline-block;
            width: 15px;
            height: 15px;
            line-height: 15px;
            img {
                position: relative;
                top: 1px;
                max-width: 13px;
            }
        }
    }
}

/* 차트 */
.chart-head {
    justify-content: end !important;
}

.my-chart-wrap {
    position: relative;
    .my-chart-title {
        text-align: center;
        font-size: 3rem;
        #user_name {
            font-size: 3.6rem;
        }
    }
    .background {
        position: absolute;
        top: -30px;
        left: -15px;
        width: calc(100% + 30px);
        height: calc(100vh - 60px);
        background:linear-gradient(to bottom, #fff, #fafafa);
        z-index: -1;
    }
}

/* 마이페이지 */
.mypage-head {
    justify-content: start !important;
}
.my-page-wrap {
    .my-profile-box {
        display: flex;
        align-items: center;
        gap: 15px;
        background-color: #fffdfc;
        border-radius: 12px;
        padding: 20px 15px;
        box-shadow: 0 2px 13px rgba(0,0,0,0.15);
        .profile-img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            overflow: hidden;
            background-color: #e0e0e0;
            background-size: cover;
            background-position: center;
            border: 1px solid #e0e0e0;
        }
        .profile-cont {
            #user-name {
                font-size: 2rem;
                font-weight: 800;
            }
            .user-mail {
                font-size: 1.6rem;
                color: #424242;
                text-decoration: underline;
            }
        }
    }
    .my-total-active {
        position: relative;
        margin: 25px 0;
        border-radius: 12px;
        padding: 20px 15px 40px 15px;
        background-color: #fffdfc;
        box-shadow: 0 2px 13px rgba(0,0,0,0.15);
        > p {
            position: relative;
            top: 10px;
            font-size: 2.1rem;
            line-height: 1.6 !important;
            span {
                position: relative;
                font-size: 2.4rem;
                display: inline-block;
                background: linear-gradient(to top, $main_color 50%, transparent 50%);
            }
        }
        > img {
            max-width: 100px;
            position: absolute;
            bottom: 0;
            right: 0;
            opacity: 0.9;
        }
    }
    .my-menu-box {
        margin-bottom: 20px;
        padding: 20px;
        background-color: #fffdfc;
        border-radius: 12px;
        box-shadow: 0 2px 13px rgba(0,0,0,0.15);
        .menu-title {
            display: flex;
            align-items: center;
            gap: 7px;
            font-size: 2rem;
            font-weight: 600;
            margin-bottom: 17px;
        }
        .menu-depth {
            .menu-list a {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-weight: 500;
                font-size: 1.8rem;
                margin-bottom: 7px;
                span {
                    position: relative;
                    top: 2px;
                }
                img {
                    max-width: 20px;
                    transform: rotate(90deg);
                }
            }
        }
    }
}

/* 위시 리스트 - 내가 읽고싶은 책 */

/* 상단 form 공통
    라벨 스타일
*/

@mixin list-style {
    width: 100%;
    display: flex;
    align-items: start;
    gap: 10px;
    border-bottom: 1px solid #e0e0e0;
}
@mixin label-style {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: rgb(106, 200, 216,0.5);
    color: #424242;
}
@mixin input-text-flied {
    height: 37px;
    line-height: 35px !important;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    padding: 0 9px;
    font-size: 1.5rem;
}
@mixin input-apperance {
    appearance: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
@mixin plusbtn-style {
    display: inline-block;
    width: 37px;
    height: 37px;
    line-height: 37px !important;
    background-color: $sub_color;
    border: unset;
    color: #fff;
    font-size: 2.4rem;
    border-radius: 5px;
}
@mixin delete-style {
    display: block;
    width: 60px;
    height: 37px;
    line-height: 35px !important;
    border-radius: 5px;
    border: 1px solid $sub_color;
    background-color: $sub_color;
    color: #fff;
    margin-left: auto;
    margin-top: 50px;
}
.book-add-field {
    .input-group {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }
    input {
        @include input-text-flied;
    }
    .field-input1 {
        width: 100%;
    }
    .field-input2,
    .field-input3 {
        width:calc((100% - 47px) / 2);
    }
    button {
        @include plusbtn-style;
    }
}
.my-wish-list,
.my-reading-list {
    .wish-book-list,
    .reading-book-list {
        margin-top: 35px;
        .list-item {
            @include list-style;
            .check-field {
                position: relative;
                label {
                    @include label-style;
                }
                input {
                    @include input-apperance;
                    &:checked+label {
                        color: #fff;
                        background-color: $point_color;
                    }
                }
            }
            .list-infor {
                width: 90%;
                padding-bottom: 10px;
                display: flex;
                align-items: end;
                justify-content: space-between;
                .book-title {
                    font-size: 1.8rem;
                }
                .author-name {
                    font-size: 1.5rem;
                }
                .bookprice,
                .reading-number,
                .total-number {
                    font-size: 1.6rem;
                }
                .reading-number,
                .total-number {
                    span {
                            background-image: linear-gradient(to bottom, transparent 50%, $main_color 50%);
                        }
                }
                .reading-progress {
                    text-align: right;
                    font-size: 1.6rem;
                }
                img {
                    position: relative;
                    top: 1px;
                    max-width: 16px
                }
            }
        }
    }
    #delete_btn {
        @include delete-style;
    }
}


.my-reading-list {

}

/* 글쓰기 페이지 */
.write-wrap {
    .field-list {
        margin-bottom: 20px;
        span {
            font-size: 1.6rem;
            display: inline-block;
            margin-bottom: 7px;
        }
    }
    //common style
    input,select,textarea {
        width: 100%;
        box-shadow: 0 3px 14px rgba(0,0,0,0.15);
    }
    input,select {
        height: 37px;
        line-height: 36px;
        border-radius: 5px;
        border: 1px solid #e0e0e0;
        padding: 0 9px;
    }
    input[type="date"] {
        width: calc(50% - 5px);
    }
    select {
        appearance: none;
        background-image: url(../assets/img/arrow-down.svg);
        background-size: 18px;
        background-position: 98% 9px;
        background-repeat: no-repeat;
    }
    textarea {
        border-radius: 5px;
        padding: 9px;
        min-height: 125px;
        border: 1px solid #e0e0e0;
    }
    .field-date-list {
        > div {
            display: flex;
            gap: 10px;
            align-items: center;
        }
    }
    button {
        margin-top: 20px;
        width: 100%;
        background-color: $sub_color;
        border: 1px solid $sub_color;
        border-radius: 5px;
        height: 38px !important;
        line-height: 41px;
        text-align: center;
        font-size: 1.7rem;
        color: #fff;
        cursor: pointer;
    }
}

/* 글쓰기 완료 페이지 */
.done-fixed-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fffdfc;
    .done-message {
        width: calc(100% - 30px);
        padding: 40px;
        background-color: $main_color;
        border-radius: 15px;
        text-align: center;
        box-shadow: 0 3px 18px rgba(0,0,0,0.15);
    }
    p {
        font-size: 2.4rem;
        margin: 10px 0 20px 0;
        color: #424242;
    }

    button {
        width: 100%;
        height: 40px;
        line-height: 39px !important;
        border-radius: 6px;
        font-size: 1.8rem;
        border: 1px solid $sub_color;
        background-color: $sub_color;
        color: #fff;
        cursor: pointer;
    }
}
#lottie-animation {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/* 하단 네비게이션 */
#bottom_navigator {
    max-width: 450px;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 10;
    .navigator_wrap {
        width: 100%;
        padding: 11px 0px;
        box-shadow: 0 -2px 15px 0 rgba(0, 0, 0, 0.1);
        display: flex;
        flex-wrap: wrap;
        background-color: #fafafa;
        border-top: 1px solid #fafafa;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        .navigator_cont {
            flex: 1 1 20%;
            text-align: center;
            position: relative;
            > a {
                display: flex;
                flex-direction: column;
                align-items: center;
                .nav-icon {
                    width: 40px;
                    height: 40px;
                }
                p {
                    font-size: 1.3rem;
                    color: #757575;
                }
            }


            &.active {
                > p {
                    color: $point_color;
                    font-weight: 500 !important;
                }
            }
        }
    }
}



/* footer */
footer {
    background-color: #fafafa;
    padding: 20px 7px;
    padding-bottom: 90px;
    .bar {
        display: inline-block;
        position: relative;
        top: 1px;
        width: 1px;
        height: 9px;
        background-color: #e0e0e0;
    }
    .logo-box {
        width: 120px;
        height: 40px;
        background-color: #bdbdbd;
        margin: 0 auto 15px;
    }
    .footer-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin: 0 auto 10px;
        li {
            font-size: 1.4rem;
            color: #757575;
        }
    }

    #footer-toggle {
        text-align: center;
        font-size: 1.4rem;
        color: #424242;
        cursor: pointer;
    }
    .copyright-text {
        margin-top: 20px;
        text-align: center;
        font-size: 1.4rem;
        color: #424242;
    }

    .copyright-dropdown {
        visibility: hidden;
        height: 0;

        &.active {
            visibility: visible;
            height: auto;
            padding-top: 15px;
            transition: all 0.2s;
        }
        .copy-depth {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            margin-bottom: 5px;
            span {
                font-size: 1.4rem;
                color: #757575;
            }
        }
    }
}

/* 글쓰기버튼 */
#write_floating, #quick_up {
    position: fixed;
    right: calc(((100vw - 450px) / 2) + 15px);
    bottom: 90px;
    z-index: 12;
    width: 56px;
    height: 56px;
    border-radius: 500px;
    box-shadow: 0 0 16px rgba(0,0,0,0.15);
    overflow: hidden;
    > a {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: $main_color_light;
        img {
            max-width: 25px;
        }
        p {
            font-size: 1.4rem;
        }
    }
}

@media(max-width:450px) {
    #main {
        .slider_wrap {
            .my_book_list {
                .swiper-slide {
                    width: 21vw;
                    aspect-ratio: 3 / 4;
                    background-color: #bdbdbd;
                    opacity: 0.5;
                }
                .swiper-slide-active {
                    width: 26.5vw !important;
                }
            }
        }
    }
}

@media(max-width:380px) {
    #main {
        #section3 {
            .my_recomand_book {
                .recomand_slide {
                    .swiper_depth {
                        .book_cover {
                            width: 79px;
                        }
                        .book_desc {
                            width: calc(100% - 94px);
                            .book_intro {
                                -webkit-line-clamp: 2;
                            }
                            .common_btn {
                                min-width: 65px;
                                height: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}