@charset "utf-8";

$main_color : #fff4ba;
$main_color_light: #fffadf;
$sub_color:#3a3967;
$point_color:#6ac8d8;

#main {
    width: 100%;
    overflow: hidden;
    .slider_wrap {
        width: 100%;
        height: auto;
        padding: 50px 15px 0;
        aspect-ratio: 375 / 260;
        padding-bottom: 5rem;
        background-color: #e0e0e0;
        .slider_top_text {
            font-size: 2.1rem;
            #user_name {
                font-size: 2.8rem;
                vertical-align: middle;
            }
        }
        .my_book_list {
            width: 100%;
            margin-top: 20px;
            margin-left: -15px;
            .swiper-wrapper {
                align-items: center;
            }
            .swiper-slide {
                width: 90px;
                aspect-ratio: 3 / 4;
                margin: 0 6.5px;
                background-color: #bdbdbd;
                opacity: 0.5;
            }
            .swiper-slide-active {
                opacity: 1 !important;
                width: 105px !important;
            }
        }
    }

    /* section1 */
    #section1 {
        padding-top: 50px;
        .my_reading_state, .my_reading_history {
            text-align: center;
            padding: 15px;
            border-radius: 12px;
            background-color: $main_color_light;
            box-shadow: 0 4px 15px rgba(0,0,0,0.15);
            > img {
                max-width: 50px;
            }
            > p {
                margin-top: 5px;
                font-size: 1.6rem;
            }
        }
        .my_reading_history {
            background-color: $main_color;
            margin-top: 20px;
        }
    }
    /* section2 */
    #section2 {
        padding-top: 20px;
        #calendar {
            padding: 15px 15px 10px 15px;
            border-radius: 12px;
            box-shadow: 0 4px 16px rgba(0,0,0,0.15);
            border: 1px solid #e0e0e0;
        }

        //table border
        .fc-theme-standard .fc-scrollgrid,
        .fc-theme-standard td, 
        .fc-theme-standard th {
            border-color: transparent;
        }

        //table top
        .fc .fc-toolbar.fc-header-toolbar {
            display: block;
            position: relative;
            margin-bottom: 10px;
        }
        .fc .fc-toolbar-title {
            font-size: 1.8rem;
            font-weight: 700;
            text-align: center;
        }
        //buttons
        .fc .fc-button-group {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            gap: 5px;
            button {
                margin: 0;
                padding: 0;
                width: 20px;
                height: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $sub_color;
            }
        }
        .fc .fc-button .fc-icon {
            font-size: 1.2rem;
            line-height: 1.2;
            margin-top: -4px;
        }
        //table
        .fc .fc-view-harness {
            min-height: 180px;
        }
        .fc .fc-col-header-cell-cushion {
            font-size: 12px;
        }
        .fc .fc-daygrid-day-top {
            justify-content: center;
        }
        .fc .fc-day-other .fc-daygrid-day-top {
            justify-content: center;
        }
        .fc .fc-daygrid-day-number {
            font-size: 12px;
        }
        .fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
            display: none !important;
        }
        //stamp
        .fc-theme-standard td.simple {
            .fc-daygrid-day-frame {
                &::after {
                    content: '';
                    width: 70%;
                    height: 70%;
                    background: url('../assets/img/stamp.svg') no-repeat;
                    background-size: contain;
                    background-position: center;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    opacity: 0.7;
                }
            }
        }
    }
    #section3 {
        padding-top: 40px;
        padding-bottom: 65px;
        .title_section {
            display: flex;
            gap: 10px;
                > img {
                    position: relative;
                    top: -10px;
                    transform: rotate(-15deg);
                    max-width: 52px;
                }
                .sec3_title {
                    font-size: 2rem;
                }
            }

        .my_recomand_book {
            margin-top: 13px;
            .swiper-slide {
                opacity: 0.5;
            }
            .swiper-slide-active {
                opacity: 1;
            }
            .recomand_slide {
                .swiper_depth {
                    padding: 15px;
                    display: flex;
                    gap: 10px;
                    background-color: #fff;
                    border: 1px solid #e0e0e0;
                    border-radius: 15px;
                    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
                    .book_cover {
                        width: 100px;
                        aspect-ratio: 3 / 4;
                        background-color: #bdbdbd;
                    }
                    .book_desc {
                        position: relative;
                        width: calc(100% - 110px);
                        p {
                            word-break: break-all;
                        }
                        .book_title {
                            font-size: 1.5rem;
                            margin-bottom: 5px;
                            display: -webkit-box;   
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            -webkit-line-clamp: 1;
                        }
                        .book_intro {
                            font-size: 1.5rem;
                            display: -webkit-box;   
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            -webkit-line-clamp: 3;
                        }
                        .button_wrap {
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            display: flex;
                            gap: 5px;
                            align-items: center;
                        }
                        .common_btn {
                            min-width: 80px;
                            height: 24px;
                            line-height: 24px;
                            border-radius: 150px;
                            background-color: #e6e6e8;
                            border: 1px solid #e6e6e8;
                            text-align: center;
                            color: #424242;
                            font-size: 1.3rem;
                            &.wish {
                                background-color: $sub_color;
                                border-color: $sub_color;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* header */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    padding: 18px 0;
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
    box-shadow: 0 0 16px rgba(0,0,0,0.15);
    .header-depth {
        width: 100%;
        position: relative;
        padding: 0 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
            width: 24px;
            height: 24px;
            line-height: 24px;
        }
        a {
        display: inline-block;
        height: 24px;
        }
        .page-title {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 3;
            transform: translate(-50%,-50%);
            font-size: 2rem;
        }
        .icon-box {
            display: flex;
            align-items: center;
            gap: 12px;
        }
    }

    .search-box {
        position: relative;
        width: 93%;
        input {
            width: 100%;
            height: 37px;
            border-radius: 30px;
            border: 1px solid #e0e0e0;
            padding: 1px 15px 0 40px;
            font-size: 1.6rem;
        }
        .submit-btn,.reset-btn {
            position: absolute;
            top: 50%;
            left: 10px;
            transform: translateY(-50%);
            margin: 0;
            padding: 0;
            height: 20px;
            border: unset;
            background-color: #fff;
            img {
                width: 20px;
                height: 20px;
            }
        }
        .reset-btn {
            left: unset;
            right: 15px;
        }
    }
}

/* sub */
.sub-wrap {
    padding: 30px 15px 65px 15px;
    background-color: #fff;
}


/* 나의 리뷰 */
.my-review-wrap {
    .my-review-title {
        display: flex;
        justify-content: space-between;
        .total-count {
            font-size: 1.5rem;
        }
        .go_my_librery {
            span {
                font-size: 1.5rem;
            }
        }
    }
    .my-review-list {
        margin-top: 20px;
        .list-item {
            position: relative;
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 13px;
            padding: 7px;
            background-color: $sub_color;
            border-radius: 150px;
            box-shadow: 0 4px 16px rgba(0,0,0,0.35);
            > a {
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 500px;
                display: inline-block;
                width: 100%;
                height: 100%;
            }
            .list-img {
                width: 80px;
                height: 80px;
                border-radius: 500px;
                overflow: hidden;
                background-color: #bdbdbd;
            }
            .list-cont {
                width: calc(100% - 87px);
                .list-title {
                    font-size: 1.8rem;
                    font-weight: 700;
                    color: $point_color;
                }
                .list-summary {
                    margin-top: 5px;
                    font-size: 1.6rem;
                    color: #fff;
                }
                .list-date {
                    margin-top: 2px;
                    font-size: 1.4rem;
                    color: #e0e0e0;
                }
            }
        }
    }
}

/* 검색 */
.serach-wrap {
    //여백, 제목 공통
    .search-depth {
        margin-bottom: 30px;
        .search-page-title {
            font-size: 1.5rem;
            margin-bottom: 10px;
        }
    }

    //체크박스 디자인 공통
    .depth-wrap {
        display: flex;
        gap: 5px;
        align-items: center;
        flex-wrap: wrap;
    }
    .depth-cont {
        position: relative;
        flex: 0 0 auto;
        label {
            display: inline-block;
            padding: 2px 10px 0 10px;
            border-radius: 150px;
            border: 1px solid #bdbdbd;
            font-size: 1.4rem;
        }
        input {
            appearance: none;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            &:checked+label {
                border-color: $point_color;
                background-color: $point_color;
                color: #fff;
            }
        }
    }

    //작성날짜
    .written-date-wrap {
        position: relative;
        #myDate {
            width: 100%;
            height: 37px;
            line-height: 39px;
            border-radius: 5px;
            border: 1px solid #e0e0e0;
            padding: 0 10px;
            font-size: 1.6rem;
        }
        > img {
            max-width: 20px;
            position: absolute;
            top: 50%;
            right: 10px;
            z-index: 10;
            transform: translateY(-50%);
        }
    }

    //최근 검색어
    .latest-cont {
        position: relative;
        label {
            position: relative;
            padding-right: 30px;
        }
        .closed {
            position: absolute;
            top: 50%;
            right: 7px;
            transform: translateY(-50%);
            z-index: 5;
            display: inline-block;
            width: 15px;
            height: 15px;
            line-height: 15px;
            img {
                position: relative;
                top: 1px;
                max-width: 13px;
            }
        }
    }
}

/* 차트 */
.chart-head {
    justify-content: end !important;
}

.my-chart-wrap {
    position: relative;
    .my-chart-title {
        text-align: center;
        font-size: 3rem;
        #user_name {
            font-size: 3.6rem;
        }
    }
    .background {
        position: absolute;
        top: -30px;
        left: -15px;
        width: calc(100% + 30px);
        height: calc(100vh - 60px);
        background:linear-gradient(to bottom, #fff, #fafafa);
        z-index: -1;
    }
}

/* 하단 네비게이션 */
#bottom_navigator {
    max-width: 450px;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 10;
    .navigator_wrap {
        width: 100%;
        padding: 11px 0px;
        box-shadow: 0 -2px 15px 0 rgba(0, 0, 0, 0.1);
        display: flex;
        flex-wrap: wrap;
        background-color: #fafafa;
        border-top: 1px solid #fafafa;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        .navigator_cont {
            flex: 1 1 20%;
            text-align: center;
            position: relative;
            > p { 
                font-size: 1.4rem;
                color: #757575; 
            }

            &.active {
                > p {
                    color: $point_color;
                    font-weight: 500 !important;
                }
            }
        }
    }
}



/* footer */
footer {
    background-color: #fafafa;
    padding: 20px 7px;
    padding-bottom: 90px;
    .bar {
        display: inline-block;
        position: relative;
        top: 1px;
        width: 1px;
        height: 9px;
        background-color: #e0e0e0;
    }
    .logo-box {
        width: 120px;
        height: 40px;
        background-color: #bdbdbd;
        margin: 0 auto 15px;
    }
    .footer-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin: 0 auto 10px;
        li {
            font-size: 1.4rem;
            color: #757575;
        }
    }

    #footer-toggle {
        text-align: center;
        font-size: 1.4rem;
        color: #424242;
        cursor: pointer;
    }
    .copyright-text {
        margin-top: 20px;
        text-align: center;
        font-size: 1.4rem;
        color: #424242;
    }

    .copyright-dropdown {
        visibility: hidden;
        height: 0;
        
        &.active {
            visibility: visible;
            height: auto;
            padding-top: 15px;
            transition: all 0.2s;
        }
        .copy-depth {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            margin-bottom: 5px;
            span {
                font-size: 1.4rem;
                color: #757575;
            }
        }
    }
}

/* 글쓰기버튼 */
#write_floating, #quick_up {
    position: fixed;
    right: calc(((100vw - 450px) / 2) + 15px);
    bottom: 90px;
    z-index: 12;
    width: 56px;
    height: 56px;
    border-radius: 500px;
    box-shadow: 0 0 16px rgba(0,0,0,0.15);
    overflow: hidden;
    > a {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: $main_color_light;
        img {
            max-width: 25px;
        }
        p {
            font-size: 1.4rem;
        }
    }
}

@media(max-width:450px) {
    #main {
        .slider_wrap {
            .my_book_list {
                .swiper-slide {
                    width: 21vw;
                    aspect-ratio: 3 / 4;
                    background-color: #bdbdbd;
                    opacity: 0.5;
                }
                .swiper-slide-active {
                    width: 26.5vw !important;
                }
            }
        }
    }
}

@media(max-width:380px) {
    #main {
        #section3 {
            .my_recomand_book {
                .recomand_slide {
                    .swiper_depth {
                        .book_cover {
                            width: 79px;
                        }
                        .book_desc {
                            width: calc(100% - 94px);
                            .book_intro {
                                -webkit-line-clamp: 2;
                            }
                            .common_btn {
                                min-width: 65px;
                                height: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}